/* fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed:400,700');

html, body {
  height: 100%;
}

#work-sec ::-moz-selection {
  background: #eee;
  color: #fff;
}

#work-sec ::selection {
  background: #eee;
  color: #fff;
}

.float-r {
  float: right;
}

.clear-fix:before {
  content: '';
  display: table;
}
.clear-fix:after {
  content: '';
  display: table;
  clear: both;
}

.project-bg {
}

#work-sec .project-card .project-image, #work-sec .project-bg:nth-of-type(2) .content .project-card .project-image, #work-sec .project-bg:nth-of-type(3) .content .project-card .project-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* start section my work */
#work-sec {
    position: relative;
    padding: 50px 0;
    background: -webkit-linear-gradient(315deg, #4954de 0%, #49ddd8 100%);
    background: -o-linear-gradient(315deg, #4954de 0%, #49ddd8 100%);
    background: linear-gradient(135deg, #4954de 0%, #49ddd8 100%);
}
#work-sec .head {
    color: #fff;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
/*    min-height: calc(100vh - 50px);*/
/*
    display: flex;
    flex-direction: column;
    justify-content: center;
*/
}

#work-sec .head h1 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 12px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.34);
    font-weight: bold;
    margin-bottom: 25px
}

#work-sec .head p {
  font-size: 1.2em;
}

/* end head */

/* start process section */

#work-sec .process {
}

@media only screen and (min-width: 992px) {
    
    #work-sec .process .s:nth-child(2) {
        margin-left: -40px;
        margin-top: 20px;
        z-index: 6
    }

    #work-sec .process .s:nth-child(2) .step {
        -webkit-box-shadow: 
            2px 4px 12px rgba(0, 0, 0, 0.7),
            -2px -4px 12px rgba(0, 0, 0, 0.7);
                box-shadow: 
            2px 4px 12px rgba(0, 0, 0, 0.7),
            -2px -4px 12px rgba(0, 0, 0, 0.7);
    }

    #work-sec .process .s:nth-child(3) {
        margin-left: -40px
    }
}

@media only screen and (max-width: 575px) {
    #work-sec .process {
        height: auto;
    }
}

#work-sec .process .step {
    text-align: center;
    color: #fff;
    margin-bottom: 10vh;
    padding: 40px;
}

@media only screen and (min-width: 768px) {
    #work-sec .process .step {
        background: #222
    }
}

#work-sec .process .step .info {
    margin-top: 1rem;
}

#work-sec .process .step .info .step-num {
    color: #0cdaaa;
    font-family: 'Roboto Condensed', sans-serif;
}

/* end process section */

/* start projects section */

#work-sec .project-card {
    background: #fff;
    max-width: 450px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16);
    margin-top: 10vh;
}

@media only screen and (min-width: 768px) {
    #work-sec .project-card {
        margin-top: 150px
    }
}
#work-sec .project-card .project-image {
    background-image: url(../images/03-work/ai-restaurant.png);
    height: 240px;
    max-width: 100%;
    vertical-align: middle;
}
@media only screen and (max-width: 575px) {
  #work-sec .project-card .project-image {
    height: 180px;
  }
}
#work-sec .project-card .project-body {
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
}
#work-sec .project-card .project-body .desc {
  line-height: 2;
}
#work-sec .project-card .project-body .desc .website-name {
  text-transform: uppercase;
}
#work-sec .project-card .project-body .desc a {
  text-decoration: none;
  color: inherit;
  display: block;
}
#work-sec .project-card .project-body .desc a .arrow-right {
  vertical-align: middle;
}
#work-sec .project-bg:nth-of-type(2) .content .project-card .project-image {
  background-image: url("../images/03-work/company.png");
}
#work-sec .project-bg:nth-of-type(3) .content .project-card .project-image {
  background-image: url("../images/03-work/memory-game.png");
}
#work-sec .project-bg:nth-of-type(even) .content {
  float: right;
}
@media only screen and (min-width: 992px) {
  #work-sec .project-bg:nth-of-type(even) .content {
    width: 50%;
  }
}
@media only screen and (max-width: 991px) {
  #work-sec .project-bg:nth-of-type(even) .content {
    float: none;
    max-width: 450px;
    margin: auto;
  }
}
#work-sec .project-bg:nth-of-type(even) .content .project-card {
  background: #222;
  color: #fff;
}
@media only screen and (min-width: 992px) {
  #work-sec .project-bg .content {
    width: 50%;
  }
}
@media only screen and (max-width: 991px) {
  #work-sec .project-bg .content {
    float: none;
    max-width: 450px;
    margin: auto;
  }
}

/* end section my work */